{% set previousPage = collections.stageplan | getPreviousCollectionItem(page) %}
{% set nextPage = collections.stageplan | getNextCollectionItem(page) %}

{% if nextPage or previousPage %}
<div class="stageplan-page-controls">
  {% if previousPage %}
  <a
    href="{{ previousPage.url }}"
    class="stageplan-page-controls__control stageplan-page-controls__control--previous-page"
  >
    {{ previousPage.data.nameInTableOfContents }}
  </a>
  {% endif %}

  {% if nextPage %}
  <a
    href="{{ nextPage.url }}"
    class="stageplan-page-controls__control stageplan-page-controls__control--next-page"
  >
    {{ nextPage.data.nameInTableOfContents }}
  </a>
  {% endif %}
</div>
{% endif %}
