/* Font imports */
@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Regular.woff2") format('woff2'),
        url("/fonts/iAWriterQuattroS-Regular.woff") format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Bold.woff2") format('woff2'),
        url("/fonts/iAWriterQuattroS-Bold.woff") format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "iA Writer Quattro S";
  src: url("/fonts/iAWriterQuattroS-Italic.woff2") format('woff2'),
        url("/fonts/iAWriterQuattroS-Italic.woff") format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: fallback;
}

/* Root variables */
:root {
  /* Typography */
  --font-size-default: 1rem;
  --font-size-larger: 1.25rem;

  --font-family-body: 'iA Writer Quattro S', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-family-titles: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;

  --line-height-default: 1.45;

  --max-content-width: 50em;
}

/* Base & resets */
html {
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
}

.container {
  width: 100%;
  max-width: var(--max-content-width);
  padding: 1rem;
  margin: 0 auto;
}

body > .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

/* Typography */
body,
button,
input,
textarea {
  font-family: var(--font-family-body);
  line-height: var(--line-height-default);
  font-size: var(--font-size-default);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-family-titles);
  font-size: var(--font-size-larger);
}

h2,
h3,
h4 {
  font-size: var(--font-size-default);
}

@media (min-width: 30rem) {
  :root {
    --font-size-default: 1.15rem;
    --font-size-larger: 1.40rem;
  }
}
